# flyctl launch added from .gitignore
**/scripts

.editorconfig
fly.toml
LICENSE
README.md

# Tailwind
package.json
pnpm-lock.yaml
tailwind.config.cjs

# git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# redis
redis/

# dependencies
**/node_modules

# logs
**/pnpm-debug.log*

# environment variables
**/.env
**/.env.production

# macOS-specific files
**/.DS_Store
