@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color: theme(colors.black);
  --background-color: theme(colors.white);
}

body {
  color: var(--color);
  background-color: var(--background-color);
}
