---
import { connectRedis } from "../lib/redis";

import Layout from "../layouts/layout.astro";
import Vote from "../components/vote.astro";

const redis = connectRedis();

const noel = (await redis.get<number>("Noel")) ?? 0;
const diego = (await redis.get<number>("Diego")) ?? 0;
---

<Layout>
  <main>
    <Vote key="Noel" value={noel} />
    <Vote key="Diego" value={diego} />
  </main>
</Layout>
