---
import Layout from "../layouts/layout.astro";
import Vote from "../components/vote.astro";

const a = 0;
const b = 1;
---

<Layout>
  <main>
    <Vote key="Noel" value={a} />
    <Vote key="Diego" value={b} />
  </main>
</Layout>
