---
import { redis } from "../lib";
import Layout from "../layouts/layout.astro";
import Vote from "../components/vote.astro";

await redis.connect();

const noel: string = (await redis.get("Noel")) ?? "";
const diego: string = (await redis.get("Diego")) ?? "";

await redis.disconnect();
---

<Layout>
  <main>
    <Vote key="Noel" value={noel} />
    <Vote key="Diego" value={diego} />
  </main>
</Layout>
